.movie-card {
  position: relative;
  max-width: 270px;
  box-shadow: 0 10px 8px rgba(232, 232, 232, 0.8);
  border-radius: 6px;

}

.movie-card__trailer {
  display: block;
  cursor: pointer;
}

.movie-card__image {
  display: block;
  border-radius: 6px 6px 0 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
}

.movie-card__description {
  margin-top: 14px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
}

.movie-card__name {
  max-width: 206px;
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card__duration {
  display: flex;
  margin: 10px 0;
  padding: 0 12px;
  min-height: 13px;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 1180px) {
  .movie-card {
    max-width: 100%;
  }

}

@media screen and (max-width: 740px) {
  /*.movie-card__name {*/
  /*  max-width: 160px;*/
  /*}*/
}

@media screen and (max-width: 600px) {
  .movie-card__name {
    font-size: 12px;
  }
}
