.search {
  padding-bottom: 65px;
}

.search__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.search__request {
  padding: 0 0 15px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-bottom: solid 1px #E8E8E8;

}

.search__label {
  margin: 0 0 0 5px;
  display: flex;
  flex-grow: 1;
  content: '';
  background-color: transparent;
  background-image: url('../../images/find-outline.svg');
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer;
}

.search__input {
  width: 100%;
  margin: 0 0 0 75px;
  height: 34px;
  box-sizing: border-box;
  flex-grow: 1;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
  background-color: transparent;
  outline: none;
  border: 0;
  text-align: center;
}

.search__input::placeholder {
  color: #A0A0A0;
}


.search__submit {
  height: 34px;
  width: 80px;
  padding: 0;
  background-color: transparent;
  background-image: url('../../images/find.svg');
  background-repeat: no-repeat;
  background-position: center right;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.search__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 900px) {
  .search {
    padding-bottom: 51px;
    gap: 41px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    padding-bottom: 49px;
  }
  .search__label {
    margin: 0;
    display: flex;
    flex-grow: 1;
    content: '';
    background: transparent;
    cursor: pointer;
  }
  .search__input {
    margin: 0;
    font-size: 18px;
    text-align: left;
  }

  .search__request {
    padding: 0 0 9px 0;
  }
}
