.navigation__list {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.navigation__link_type_profile {
  padding: 7px 43px 7px 0;
  font-size: 14px;
  line-height: 16px;
  background-image: url("../../../images/profile-icon.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.navigation__link:hover{
  opacity: .7;
}

.active {
  font-weight: 500;
}

@media screen and (max-width: 860px) {
  .navigation__list {
    display: none;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation__link {
    font-size: 18px;
  }

  .navigation__link_type_profile {
    display: none;
  }
}
